#!/bin/sh

### BEGIN INIT INFO
# Provides:          smartlaser
# Required-Start:    $network $syslog
# Required-Stop:     $network $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start SMartLaserCO2 daemon
### END INIT INFO

DAEMON=/usr/local/SmartLaser/smartlaser --raspberrypi
PIDFILE=/var/run/smartlaser.pid

[ -x $DAEMON ] || exit 5

start() {
  start-stop-daemon --start --pidfile $PIDFILE --startas $DAEMON
  RETVAL=$?
}

stop() {
  start-stop-daemon --stop --quiet --oknodo --pidfile $PIDFILE
  rm -f $PIDFILE
  RETVAL=$?
}

case $1 in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart)
    stop
    start
    ;;
  *)
    echo "Usage: ${0:-} {start|stop|restart}" >&2
    exit 1
    ;;
esac
